
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif; 
}

.foam_container{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 101;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(153, 153, 153, 0.8); 
    padding-left: 2%;
    padding-top: 2%;
}
.signUp{
    justify-content: center;
    font-size: 1vh;
}
.signUpButton{
    padding: 1px;
    font-size: 1vh;
    color: blue;
}
.inputBox{
    margin: 30px;
    position: relative;
    width: 100%;
    height: 40px;
}
#login_child{
    text-wrap: nowrap;
    font-size: 1vh;
    padding-left: 9%;
}
.login_data{
    margin-right: 0px;
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
}
.image{
    padding-right: 0px;
    padding-left: 19%;
    float: right;
}
#login{
    font-size: 3vh;
    font-style: math sans bold;
    font-weight: bold;
    padding-left:10%;
}
.Email_password{
    padding: 3%;
}
.button1{
    background-color: blue;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 0 8px rgba(153, 153, 153, 0.8);     
}
